<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<!-- Navagation -->
    <ul class="nav fixed-top">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">All Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/<%= data._id%>">>Create Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myRecipe">My Recipes</a>
        </li>
        <div>
          <form action="/sessions?_method=DELETE", method='POST'>
            <input type="submit" value="Log Out" style="background-color: #08753c; color:white; border-style: none;">
            </form>
        </div>
        <div class="welcome-div">
          <p>Welcome <%= currentUser.username %> </p>
        </div>
  


      </ul>
<!-- shi jie's code starts here -->


    <div class="container-login100">
      <div class="wrap-login1000">
        <form class="login100-form validate-form" action="/books" method="POST">
          <span class="login100-form-title p-b-26">
            Write your thoughts
          </span>

          <div class="wrap-input100 validate-input">
            <input id="title" type="text" name="title" placeholder="Title" id="inputdefault" class="validate title ">
          </div>

          <div class="wrap-input100 validate-input" >

            <textarea placeholder="Write your thoughts here" id="data overridebootstrap" style="width: 100%; min-height: 150px; resize: vertical; white-space: pre" name="description" type="text"  class="materialize-textarea" data-length="500"></textarea>

          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit" >
                Add
              </button>
            </div>
          </div>
          <div class="text-center p-t-115">
            <span class="txt1">
             <a href="/books">Go back</a>
            </span>
          </div>
        </form>
      </div>
    </div>



  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>


<!-- ends here -->
