<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

  <% if(currentUser) {%>
        <!-- Navagation -->
        <ul class="nav fixed-top">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/new">Sign Up</a>   
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/sessions/new">Log in</a>   
          </li>
          <li class="nav-item">
        <form action="/sessions?_method=DELETE", method='POST'>
          <input type="submit" value="Log Out" style="text-align:center;">
          </li> 
        </ul>
 <!-- SignUp  -->
<div class="about position-relative py-5">
  <div class="">
    <div class="row d-flex align-items-center py-5">
      <div style="margin-top: 120px; margin-right: 20px; margin-left: 20px">
          <a class="btn card-btn" href="/users/new">Create your own bookshelf online! <br> Start by creating a free account, then log in!</a>
      </div>
    </div>
  </div>
 </div>
</div>


 <% } else { %>
    <!-- Navagation -->
    <ul class="nav fixed-top">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>   
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/sessions/new">Log in</a>   
        </li>
        <li class="nav-item">
          <form action="/sessions?_method=DELETE", method='POST'>
            <input type="submit" value="Log Out" style="text-align:right;">
        </li> 
      </ul>

<div class="container article-container"> 
      <div class="article">
        </div>
   </div>
<!-- SignUp  -->
<div class="about position-relative py-5">
  <div class="">
    <div class="row d-flex align-items-center py-5">
      <div style="margin-top: 120px; margin-right: 20px; margin-left: 20px">
        <a class="btn card-btn" href="/users/new">Create your own bookshelf online! <br> Start by creating a free account, then log in!</a>
      </div>
    </div>
  </div>
 </div>
</div>
<% } %>



  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>


</body>
</html>